<h1>JavaScript Calculator </h1>

<h2>by tomDow</h2>
<div id = "myCalculator">

  <div id="panelDiv">
    <input type ="text" id = "calcPanel" />
  </div> <!--End panelDiv-->

  <div id="buttonsWrapper">

    <div id="calcRowOne"></div>
    <div id="calcRowTwo"></div>
    <div id="calcRowThree"></div>
    <div id="calcRowFour"></div>
    <div id="calcRowFive"></div>
    <div id="calcRowSix"></div>

  </div><!--End Buttons Wrapper-->
</div><!--End myCalculator Div-->